h1 {
    background-color: orangered;
    color: #ffffff;
    font-size: 30px;
}

.one {
    text-align: right;
    color: blue;
}

.two {
    text-align: left;
    color: orange;
}

.three {
    box-shadow: #5f6062;
}

#form_1 {
    background-color: aqua;
    border-collapse: collapse;
    border: 1px solid black;
    width: 350px;
    height: 320px;
    padding: 10px;
}

table {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid black;
    width: 350px;
    height: 300px;
}

#form_2 table {
    background-color: lightgoldenrodyellow;
}
h2 {
    margin: 0;
    background-color: aquamarine;
    color: dodgerblue;
    font-size: 20px;
}
.four {
    color: dodgerblue;
}


